.elevatorFloor {
    width: 40px;
    height: 100px;
    border: 5px solid black;
    position: relative;
    background:white;
    margin: 5px 20px 5px 5px;
    display: inline-block;
}

.passengerFloor {
    width: 300px;
    height: 100px;
    border-bottom: 5px solid black;
    position: absolute;
    background:white;
    margin: 5px;
    display: inline-block;
}

.passenger {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    margin: 3px;
    display: inline-block;
}

.current {
   background:black !important;
}
